<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>guardarUsuario</servlet-name>
        <servlet-class>Servlet.guardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarUsuario</servlet-name>
        <servlet-class>Servlet.borrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUsuario</servlet-name>
        <servlet-class>Servlet.actualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificarUsuario</servlet-name>
        <servlet-class>Servlet.verificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filtroLugares</servlet-name>
        <servlet-class>Servlet.filtroLugares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filtrarLugares</servlet-name>
        <servlet-class>Servlet.filtrarLugares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarFavoritos</servlet-name>
        <servlet-class>Servlet.agregarFavoritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>equis</servlet-name>
        <servlet-class>Servlet.equis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarLugar</servlet-name>
        <servlet-class>Servlet.guardarLugar</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>guardarUsuario</servlet-name>
        <url-pattern>/guardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarUsuario</servlet-name>
        <url-pattern>/borrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUsuario</servlet-name>
        <url-pattern>/actualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificarUsuario</servlet-name>
        <url-pattern>/verificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filtroLugares</servlet-name>
        <url-pattern>/filtroLugares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filtrarLugares</servlet-name>
        <url-pattern>/filtrarLugares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarFavoritos</servlet-name>
        <url-pattern>/agregarFavoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>equis</servlet-name>
        <url-pattern>/equis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarLugar</servlet-name>
        <url-pattern>/guardarLugar</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
